@{
    ViewData["Title"] = "Adicionar categoria";
}


<div class="row pt-4">
    <div class="col-6">
        <h2 class="text-primary">Adicionar categoria</h2>
        <span>Aqui você pode adicionar novas categorias de seus produtos!</span>
    </div>
</div>
