@model List<Categoria>

@{
    ViewData["Title"] = "Categorias";
}

<div class="row pt-4">
    <div class="col-6">
        <h2 class="text-primary">Categorias</h2>
        <span>Tabela com todas as categorias. Você pode adicionar uma <br />nova categoria no botão ao lado!</span>
    </div>
    <div class="col-6 text-end">
        <br />
        <a asp-controller="Categoria" asp-action="Create" class="btn btn-primary">Adicionar categoria</a>
    </div>
</div>
<br />

<table class="table table-striped table-dark text-center" style="width:100%">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <th scope="row" width="5%">@obj.Id</th>
                <td width="55%">@obj.Nome</td>
                <td width="20%"><a asp-controller="Categoria" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary">Editar</a></td>
                <td width="20%"><a asp-controller="Categoria" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger">Remover</a></td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Produtos" asp-action="Index" class="link-secondary">Voltar para produtos</a>
