@{
    ViewData["Title"] = "Produtos";
}

<div class="row pt-4">
    <div class="col-6">
        <h2 class="text-primary">Adicionar produto</h2>
        <span>Adicione um novo produto! Você pode ver e adicionar uma nova categoria de produtos no botão ao lado!</span>
    </div>
    <div class="col-6 text-end">
        <br />
        <a asp-controller="Categoria" asp-action="Index" class="btn btn-primary">Ver categorias</a>
    </div>
</div>
